@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-front-smoothing: antialiased;
  text-rendering: optimizeLegebility;
  background: fixed;
  background-image: radial-gradient(#363636 1px, transparent 1px);
  background-size: 30px 30px;
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
